
<h1>Test Payments and Stuffs!</h1>

{% if order %}

<p>Generated an order with ID: {{ order.id }}</p>

{% else %}

<form method="post" action=".">
  {% csrf_token %}
  <p><label><input type="radio" name="variant" value="vipps">Pay with Vipps</label></p>

  <p><label><input type="radio" name="variant" value="stripe">Pay with Stripe</label></p>

  <p><label><input type="radio" name="variant" value="offline">Pay with offline</label></p>

  <p><label><input type="radio" name="variant" value="dummy">Pay with Dummy</label></p>

  <button type="submit">Click to create an order and process payment!</button>
</form>

{% endif %}
