<template>
  <div>
    <v-chip v-if="status == 'Ny'" color="orange" text-color="white">
      <v-avatar left>
        <v-icon>mdi-plus-circle</v-icon>
      </v-avatar>
      Ny
    </v-chip>

    <v-chip v-if="status == 'Fullført'" color="green" text-color="white">
      <v-avatar left>
        <v-icon>mdi-checkbox-marked-circle</v-icon>
      </v-avatar>
      Fullført
    </v-chip>
  </div>
</template>

<script>
export default {
  name: "OrderStatus",
  props: {
    status: {
      type: String,
      required: true,
    },
  },
};
</script>
